At Least 14 Days Before:
- Request for Travel
- Breakdown of Expenses
- Class release
- General release for each member
- Emergency contact info for each member
- Lodging exception form 
  + reason why we chose the hotel if over 275/night
- Additional documents/brochure/info
- Fill out this thing: https://na2.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=4b7340e0-2e3a-49a3-bc6e-6d9e34c49fc2

After: 
- Travel expense claim

