Before: (for details: http://www.calstatela.edu/studentservices/student-organization-travel)
- Event registration
- General release for everyone
- Emergency contact info for everyone
  + note: the above must be submitted before the travel will be approved